html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    background-color: #000000;
    height: 100%;
    width: 100%;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

button {
    border: none;
    height: 50%;
    width: 10vw;
}

.card-prompt {
    font-size: larger;
}

@media (max-width: 650px) {
    button {
        width: 50%;
    }
}